@model PagedList.IPagedList<Model.EF.Order>
@using PagedList.Mvc;
@using Model.Dao;
@using OnlineShop.Common;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@functions{
    public bool checkShipper(long OrderID)
    {
        return new OrderDao().CheckExistsOrder(OrderID);
    }
}
@{
    var data = (UserLogin)System.Web.HttpContext.Current.Session[CommonConstants.USER_SESSION];
    var userID = data.UserID;
}
@section jsFooter{
    <script src="/assets/admin/js/controller/orderController.js"></script>
}
<h2>Order Ship</h2>

@if (Model.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Create Date</th>
                    <th>ShipName</th>
                    <th>ShipMobile</th>
                    <th>ShipAddress</th>
                    <th>ShipEmail</th>
                    <th>Status</th>
                    <th>View detail</th>
                    <th>Shipper</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="row_@item.ID">
                        <td>@item.CreatedDate.Value.ToString("dd-MM-yyyy")</td>
                        <td>@item.ShipName</td>
                        <td>@item.ShipMobile</td>
                        <td>@item.ShipAddress</td>
                        <td>@item.ShipEmail</td>
                        <td><a href="#" class="btn-active-order" data-id="@item.ID">@Html.Raw(item.Status.Value ? "<strong> Đã duyệt <i class='fa fa-check-circle' aria-hidden='true'></i></strong>" : "<strong style='color: red;'> Chưa duyệt </strong>")</a></td>
                        <td>
                            @Html.ActionLink("xem chi tiết", "ViewDetail", new { id = item.ID })
                        </td>
                        <td>
                            @if(checkShipper(item.ID))
                            {
                                <a href="javascript:void(0)" class="btn-remov-shipper" data-userID="@userID" data-id="@item.ID">@Html.Raw("<strong> Đã đặt ship <i class='fa fa-check-circle' aria-hidden='true'></i></strong>")</a>
                            }
                            else
                            { 
                                <a href="javascript:void(0)" class="btn-reg-shipper" data-userID="@userID" data-id="@item.ID">@Html.Raw("<strong style='color: red;'> Chưa đặt ship </strong>")</a>
                            }
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
}
else
{
    <h2>không có bản ghi nào</h2>
}
