@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var slides = (List<Model.EF.Slide>)ViewBag.Slides;
    var listNewProducts = (List<Model.EF.Product>)ViewBag.NewProducts;
    var listFeatureProducts = (List<Model.EF.Product>)ViewBag.ListFeatureProducts;
    var footerHome = ViewBag.FooterHome as Model.EF.Footer;
}
<link href="~/assets/admin/js/plugins/toastr/toastr.min.css" rel="stylesheet" />
@section jsFooter{
    <script src="/assets/client/js/controller/cartController.js"></script>
    <script src="~/assets/admin/js/plugins/toastr/toastr.min.js"></script>
}
@section slide
{
    <div class="container">
        <!--banner-->
        <a href="#" class="ban">
            <div class="banner ">
                <div class="wmuSlider example1">
                    <div class="wmuSliderWrapper">
                        @if (slides.Count > 0)
                        {
                            foreach (var item in slides)
                            {
                                <article style="position: absolute; width: 100%; opacity: 0;">
                                    <div class="banner-wrap">
                                        <div class="short">
                                            <img class="img-responsive" src="@item.Image" alt="">
                                        </div>
                                        <div class="month">
                                            <h4>
                                                check out our most favorited &
                                                bestselling product for this month!!
                                            </h4>
                                            <div class="month-grid">
                                                <p>@item.Description</p>
                                                <div class="banner-btns">
                                                    <span class="detail" href="#">Beautiful</span>
                                                    <span class="buy" href="#">The Best</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </article>
                            }
                        }
                        else
                        {
                            <article style="position: absolute; width: 100%; opacity: 0;">
                                <div class="banner-wrap">
                                    <div class="short">
                                        <img class="img-responsive" src="~/assets/clientV3/images/sh.png" alt="">
                                    </div>
                                    <div class="month">
                                        <h4>
                                            check out our most favorited &
                                            bestselling product for this month!!
                                        </h4>
                                        <div class="month-grid">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <div class="banner-btns">
                                                <span class="detail" href="#">Beautiful</span>
                                                <span class="buy" href="#">The Best</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </article>
                        }

                    </div>
                </div>
                <!---->
                <script src="~/assets/clientV3/js/jquery.wmuSlider.js"></script>
                <script>
                    $('.example1').wmuSlider({
                        pagination: false,
                    });
                </script>

            </div>
        </a>
    </div>
}
<div class="content-top">
    <h5 class="welcome">WELCOME TO MOOROODOOL</h5>
    <div class="search">
        <form method="GET" action="/tim-kiem">
            <input type="text" id="txtKeyword" name="keyword" placeholder="Gõ từ khoá" value="@ViewBag.Keyword">
            <input type="submit" value="">
        </form>
    </div>
    <div class="clearfix"> </div>
</div>
<!---->
<div class="content-middle">
    <div class="middle-content">
        <div class="middle">
            <h3>NEW YEAR’S SALE</h3>
            <p>discount up to <b>70%</b> for<span>our old products</span></p>
            <p class="from">from january 1st 2014 to march 30th 2014</p>
        </div>
        <a href="single.html" class="get">GET THEM HERE!!!</a>
    </div>
    <div class="clearfix"> </div>
</div>
<!---->
<div class="content-bottom">

    @*<div class="col-md-4 bottom-content">
            <a href="single.html">
                <img class="img-responsive" src="~/assets/clientV3/images/pi.jpg" alt="">
                <p class="tun">TUNDA BESOK</p>
                <p class="best">BEST <span>SELLER</span></p>
                <p class="number">IDR<span>125.000</span></p>
                <div class="pro-grid">
                    <p>LOOKS VS PERSONALITY</p>
                    <b>T-shirt</b>
                    <div class="pro-btns">
                        <span class="detail">Detail</span>
                        <span class="buy-in">ADD TO CART</span>
                    </div>
                </div>
            </a>
        </div>*@
    @if (listNewProducts.Count > 0)
    {
        foreach (var item in listNewProducts)
        {
            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
            <div class="col-md-4 bottom-content act">
                <a href="@url">
                    <img class="img-responsive" src="@item.Image" alt="">
                    <p class="tun">LOOKS VS PERSONALITY</p>
                    <p class="number">IDR<span>$@item.Price</span></p>
                    <div class="pro-grid">
                        <p>LOOKS VS <span>PERSONALITY</span></p>
                        <b>@item.Name</b>
                        <div class="pro-btns">
                            <span class="detail">Detail</span>
                            <a href="javascript:void(0)" class="btnAddToCartAjax buy-in" data-id="@item.ID" data-quantity="1">ADD TO CART</a>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
    else
    {
        <div class="col-md-4 bottom-content act">
            <a href="single.html">
                <img class="img-responsive" src="~/assets/clientV3/images/pi1.jpg" alt="">
                <p class="tun">LOOKS VS PERSONALITY</p>
                <p class="number">IDR<span>$125.000</span></p>
                <div class="pro-grid">
                    <p>LOOKS VS <span>PERSONALITY</span></p>
                    <b>T-shirt</b>
                    <div class="pro-btns">
                        <span class="detail">Detail</span>
                        <span class="buy-in">ADD TO CART</span>
                    </div>
                </div>
            </a>
        </div>
    }
    <div class="clearfix"> </div>
</div>
<!---->
@if(footerHome != null)
{
    @Html.Raw(footerHome.Content)
}
