@model Model.EF.Product
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@{
    var controller = ViewContext.Controller as OnlineShop.Areas.Admin.Controllers.ProductController;
    var myFunc = controller.SetViewBag(Model.CategoryID);
}
@section jsFooter{
    <script src="/assets/admin/js/controller/productController.js"></script>
}
<h2>Edit Product</h2>
@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
       
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" name="Name" placeholder="Name" value="@Model.Name">
        </div>

        <div class="form-group">
            <label for="Code">Code</label>
            <input type="text" class="form-control" name="Code" placeholder="Code" value="@Model.Code">
        </div>

        <div class="form-group">
            <label for="MetaTitle">MetaTitle</label>
            <input type="text" class="form-control" name="MetaTitle" placeholder="MetaTitle" value="@Model.MetaTitle">
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" class="form-control" name="Description" placeholder="Description" value="@Model.Description">
        </div>

        <div>
            <img src="@Model.Image" width="100" height="100" id="img_product" />
        </div>

        <div class="form-group">
            <label for="Image">Image</label>
            <input type="file" class="form-control" name="file" id="btn_image">
        </div>

        <div class="form-group">
            <label for="Price">Price</label>
            <input type="text" class="form-control" name="Price" placeholder="Price" value="@Model.Price">
        </div>

        <div class="form-group">
            <label for="PromotionPrice">PromotionPrice</label>
            <input type="text" class="form-control" name="PromotionPrice" placeholder="PromotionPrice" value="@Model.PromotionPrice">
        </div>

        <div class="form-group">
            <label for="Quantity">Quantity</label>
            <input type="text" class="form-control" name="Quantity" placeholder="Quantity" value="@Model.Quantity">
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryID", myFunc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Detail">Detail</label>
            <input type="text" class="form-control" name="Detail" placeholder="Detail" value="@Model.Detail">
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <input hidden name="ID" value="@Model.ID" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
