@model Model.EF.About

@{
    ViewBag.Title = "Thông tin giới thiệu";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
   Thông tin giới thiệu
}
@section jsFooter{
    <script>

        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/assets/admin/js/plugins/ckeditor/config.js',
        });
    </script>
}
@using (Html.BeginForm("Save", "About", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Nội dung</label>
            @*@Html.LabelFor(model => model.Detail, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Detail, new { htmlAttributes = new { @class = "form-control" }, id = "txtContent" })
                @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
            </div>
        </div>
        <input hidden name="ID" value="@Model.ID" />





        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Xác nhận" class="btn btn-default" />
            </div>
        </div>
    </div>
}
